@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.group:hover .nav-link::after {
  width: 100%;
}
