

@tailwind base;
@tailwind components;
@tailwind utilities;




.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.group:hover .nav-link::after {
  width: 100%;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 1s ease-out forwards;
}
.box {
min-width: 130px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover,
.box.active {  
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before,
.box.active:before {  
  border-color: #e84141;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after,
.box.active:after {  
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.ball-type-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ball-type-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.ball-type-button.active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.ball-image {
  width: 80px; 
  height: 80px;
  object-fit: cover;
}

span {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}
.match-style-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50%; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.match-style-button:hover {
  background-color: #100808d8;
  transform: scale(1.05);
}

.match-style-button.active {
  background-color:black;
  border-color: grey;
  transform: scale(1.1);
}
.ball-type-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  background-color: black;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 50%; /* Circular button */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ball-type-button img {
  width: 60px;  
  height: 60px;
  border-radius: 50%;
}

.ball-type-button:hover {
  background-color:#ccc;
  transform: scale(1.05);
}

.ball-type-button.active {
  background-color: #ccc;
  border-color: #262626
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.container {
  width: 100%; /* Use percentage */
  padding: 1em; /* Use em/rem */
}

img, video {
  max-width: 100%;
  height: auto;
}


